*{
    margin: 0;
}
/* Head part and nav part */
.head-tittle{
    color: whitesmoke;
    padding: 200px 320px 0 320px;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 20px;
}
.head-des{
    padding: 0 500px 0 500px;
    margin-bottom: 20px;
}
.btn-pri{
    background-color: rgb(249, 30, 30);
    color: white;
    border: none;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

nav{
    text-align: center;
    background-image: url('../images/donation13.jpg');
    background-repeat: no-repeat;
    height: 650px;
    background-size: cover;
    color: white;
    font-weight: 800;
}
.cen{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* Donate Today */

.sec-tittle{
    text-align: center;
    font-size: 400%;
    font-weight: 700;
    padding-top: 150px;
    margin-bottom: 30px;
}
.sec-des{
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
    padding: 0 320px 0 320px;
}
.tk{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 320px 0 320px;
}
.taka{
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 320px 0 320px;
    margin-bottom: 50px;
}
.tk1{
    font-weight: 700;
    background-color: rgb(247, 245, 245);
    border-radius: 10px;
    padding: 30px;
}
.tk1:hover{
    border: 2px solid red;
    background-color: black;
    color: red;
}
.hr{
    padding: 0 300px 0 300px;
}
/* Our Donate Plan */
.card{
    margin: 0 280px 0 280px;
    display: flex;
    gap: 35px;
}

.internal1{
    height: 250px;
    background-color: blanchedalmond;
    padding: 20px;
}
.internal2{
    height: 250px;
    background-color: rgb(230, 248, 203);
    padding: 20px;
}
.internal3{
    height: 250px;
    background-color: rgb(248, 248, 157);
    padding: 20px;
}
.internal1:hover{
    background-color:lightcoral;
    font-weight: 900;
}
.internal2:hover{
    background-color:rgb(193, 245, 114);
    font-weight: 900;
}
.internal3:hover{
    background-color: rgb(249, 249, 118);
    font-weight: 900;
}
/* Pic and art */
.sec1{
    margin-bottom: 100px;
}
.sec2{
    margin: 0 300px 100px;
}
.pic-art{
    display: flex;
    align-items: center;
    gap: 100px;
}
#side-pic{
    height: 400px;
    width: 500px;
}
.art-tittle{
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 20px;
}
.art-des{
    font-size: 18px;
    margin-bottom: 20px;
}

.side-btn{
    background-color: rgb(249, 30, 30);
    color: white;
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
}
/* Update part starts here */
.Update{
    text-align: center;
    margin-bottom: 100px;
}
.update-tittle{
    font-size: 70px;
    margin-bottom: 30px;
}
.update-des{
    padding: 30px 400px 0 400px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
}

.box{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: blanchedalmond;
    height: 300px;
    width: 800px;
    border-radius: 10px;
}
input{
    padding: 10px;
    height: 40px;
    width: 300px;
    background-color: lightgrey;
    color: black;
    border: none;
   
}
button{
    padding: 12px;
    height: 60px;
    width: 160px;
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(249, 30, 30);
    color: white;
    border: none;
   
}
.in-sub{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Finally Footer section */

footer{
    text-align: center;
    padding: 30px 30px 0 30px;
    height: 100px;
    background-color: rgb(95, 72, 72);
}
.f1{
    margin-bottom: 10px;
    color: lightblue;
}
.f2{
    font-size: 25px;
}