*{
    margin: 0;
}
/* Head part and nav part */
.head-tittle{
    color: whitesmoke;
    padding: 200px 320px 0 320px;
    font-weight: 700;
    font-size: 500%;
    margin-bottom: 20px;
}
.head-des{
    font-size: 20px;
    padding: 0 500px 0 500px;
    margin-bottom: 20px;
}
.btn-pri{
    background-color: rgb(249, 30, 30);
    color: white;
    border: none;
    height: 70px;
    width: 180px;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px;
}
nav{
    text-align: center;
    background-image: url('/images/donation13.jpg');
    background-repeat: no-repeat;
    height: 650px;
    background-size: cover;
    color: white;
    font-weight: 800;
}